<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="index.css" rel="stylesheet">
    <title>스터디헬퍼</title>
</head>
<body>
    
    <div class="content">
        <form action="/login" method="POST" class="signup_form">
            <div class="signup_form_label">아이디</div>
            <input type="text" class="signup_form_input signup_form_id" name="id">
            <br>
            <div class="signup_form_label">비밀번호</div>
            <input type="password" class="signup_form_input signup_form_pw" name="pw">
            <br>
            <button type="submit" class="signup_form_btn">로그인</button>
        </form>
    </div>

</body>
</html>