<link href="index.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<button class="signup_form_btn">
    <a href="/login">
        로그인
    </a>
</button>

<button class="signup_form_btn">
    <a href="/signup">
        회원가입
    </a>
</button>