@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
    margin: 0;
    font-family: 'NanumSquare', sans-serif;
}

a {
    text-decoration: none;
    text-emphasis: none;
    color: black;
}

.signup_form_input {
    border: 1px solid gray;
    border-radius: 7px;
    width: 240px;
    padding: 8px;
    margin: 10px;
}

.signup_form_input:focus {
    border: 1px solid tomato;
}

.signup_form_label {
    margin: 10px;
}

.signup_form_btn {
    margin: 10px;
    margin-top: 20px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

.already {
    margin: 10px;
    margin-top: 20px;
    font-size: 12px;
    color: gray;
}

input:focus {
    outline: none;
}